
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: url('https://images.unsplash.com/photo-1621274403997-37aace184f49?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    overflow: hidden;
}

.container{
    padding: 20px 70px;
    color: #fff;
}

.current-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.date-container{
    font-weight: 100;

}

.date-container .time{
    font-size: 70px;
}

.date-container #am-pm{
    font-size: 30px;
    margin-left: 20px;
}

.date-container .date{
    font-size: 30px;
}

.place-container{
    text-align: end;
}

.place-container .time-zone{
    font-size: 30px;
    font-weight: 100;
}

.place-container .country{
    font-size: 12px;
    font-weight: 700;
}

.current-info .others{
    background: rgba(24,24,27, 0.6);
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 30px;
}

.current-info .others .weather-item{
    display: flex;
    justify-content: space-between;
}

.future-forecast{
    align-items: center;
    background: rgba(24,24,27, 0.8);
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    padding: 25px;
    position: fixed;
    width: 100%;
}

.future-forecast .today{
    align-items: center;
    display: flex;
    justify-content: center;
}

.future-forecast .today .day{
    background: #3c3c44;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 18px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;

}

.weather-forecast .weather-forecast-item{
    align-items: center;
    border: 1px solid #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    padding: 5px;
}
.weather-forecast .weather-forecast-item .day{
    background: #3c3c44;
    border-radius: 30px;
    padding: 5px 15px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp{
    font-weight: 100;
}

/* Responsiveness */

@media only screen and (max-width:730px){
    .future-forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }
}
